/* src/App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.container {
  width: 100%;
  max-width: calc(60vw - 40px);
  margin: 0 auto;
  text-align: center;
}

.chatBody {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 100vh;
  gap: 20px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 20px;
}

.chat-container {
  height: 50vh;
  overflow-y: auto;
  background-color: #2d2d2d;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-align: left;
}

.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  color: #ffffff;
  padding-right: 20px;
  border-radius: 5px;
}

.message {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

.message strong {
  margin-right: 10px;
  color: #ffffff;
}

.message.user strong {
  color: #00aaff;
}

.message.assistant strong {
  color: #ff9800;
}

.textarea {
  width: calc(100% - 40px);
  background-color: #2d2d2d;
  color: #ffffff;
  border: none;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.file-input {
  margin-top: 15px;
  color: #ffffff;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.button:hover:enabled {
  background-color: #0056b3;
}

.attached {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.record {
  display: flex;
  align-items: center;
  padding: 10px;
}

.recording {
  display: flex;
  align-items: center;
  background-color: #ff5555;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.attach {
  display: flex;
  align-items: center;
  padding: 10px;
}

.file-name {
  color: #999;
}