body{
  margin: 0;
  padding: 0;
}
.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.button:hover:enabled {
  background-color: #0056b3;
} 

.code-block{
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: pre-wrap; /* Preserve line breaks */
  max-width: 640px;
  
}
.code-content{
  display: flex;
  flex-direction: column;
}

.code-head{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.content,strong{
  white-space: pre-wrap; 
  word-wrap: break-word; 
  text-align: left;
  padding: 10px 0;
}




/* Container for the chat application */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* Chat container to hold the conversation */
.chat-container {
  height: 450px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

/* Styling for individual messages in the chat */
.message {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.message.user {
  justify-content: flex-end;
}

.message.groq {
  justify-content: flex-start;
}

.message strong {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
}

.content {
  display: inline-block;
  background: #e1f5fe;
  padding: 10px;
  border-radius: 5px;
}

.user .content {
  background: #c8e6c9;
}


.copy-button,
.voice-control-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 18px;
}

.copy-button:hover,
.voice-control-button:hover {
  color: #0056b3;
}

/* Input section */
.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}




/* Styling the label for the file input */
.custom-file-input {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

/* Hide the actual file input */
.custom-file-input input[type="file"] {
  display: none;
}

/* Styling for hover effect on "Choose File" */
.custom-file-input:hover {
  background-color: #0056b3;
}


