.container {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.introText {
  font-size: 30px;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  padding: 100px 20%;
  overflow: auto;
}

.message {
  max-width: 75%;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.user {
  width: fit-content;
  padding: 1px 10px;
  background-color: #f0f0f0;
  align-self: flex-end;
  border-radius: 10px;
}

.gemini {
  align-self: flex-start;
  border-bottom-right-radius: 5px;
}

.message strong {
  margin-right: 0.5rem;
  font-weight: bold;
}

.addOns {
  display: flex;
}

.error_description {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}
